@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Noto+Serif:wght@400;700&display=swap");

/*------ Global color variables ------*/
:root {
  --primary: #4b5648;
  --secondary: #e2e7e3;
  --white: #ffffff;
  --black: #000000;
  --shadow: #0000004d;
}

/*------ Reset ------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Noto Serif", serif;
  list-style: none;
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px var(--shadow);
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar {
  width: 10px;
}

html {
  font-size: 12pt;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

p,
span,
select {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  background: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary);
  min-width: 320px;
}

.app {
  position: relative;
}

svg {
  width: 24px;
  height: 24px;
}

a,
button {
  cursor: pointer;
  font-family: "Lato", sans-serif;

  &:disabled {
    cursor: not-allowed;
  }
}

.app-wrapper {
  padding-top: 65px;

  @media (max-width: 550px) {
    padding-top: 55px;
  }
}

.cart-slider-modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;

  aside.cart-slider {
    --slider-width: calc(100% / 2);
    width: var(--slider-width);
    min-width: 300px;
    max-width: 500px;
    padding: 30px;
    background: var(--secondary);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    animation: slideInCart 0.3s linear;
    -webkit-animation: slideInCart 0.3s linear;

    @media (max-width: 768px) {
      padding: 30px 20px;
    }

    @media (max-width: 450px) {
      padding: 30px 10px;
    }

    .back-btn-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 20px;

      button {
        background: none;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.5);
        }

        svg {
          color: var(--primary);
        }
      }

      span {
        font-size: 0.8rem;
        color: var(--primary);
      }
    }

    .custom-select {
      background: var(--white);
      padding: 5px;
      width: 70px;
      margin-bottom: 20px;
      border-radius: 1px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;

      select {
        width: 100%;
      }
    }

    .cart-scrollview {
      height: 450px;
      width: 100%;
      overflow: auto;

      @media (max-width: 450px) {
        height: 350px;
        width: 100%;
        overflow: auto;
      }

      @media (max-width: 400px) {
        height: 250px;
        width: 100%;
        overflow: auto;
      }

      .empty-cart {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 50%;
          object-fit: contain;
        }

        p {
          margin-top: 20px;
          color: var(--primary);
        }
      }
    }

    .checkouts {
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px solid var(--primary);
      width: 90%;
      position: absolute;
      bottom: 0;

      @media (max-width: 400px) {
        width: 100%;
        position: initial;
        bottom: initial;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        > p {
          color: var(--primary);
          font-weight: bold;
        }
      }

      button {
        padding: 20px;
        margin: 10px 0;
        border: 1px solid var(--primary);
        width: 100%;

        @media screen and (max-width: 450px) {
          font-size: 0.7rem;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // overflow: hidden;
        }
      }

      & > button.subscribe-discount {
        color: var(--primary);
        background: var(--white);
      }

      & > button.cart-proceed {
        background: var(--primary);
        color: var(--white);
      }
    }
  }

  @keyframes slideInCart {
    from {
      transform: translateX(200px);
      -webkit-transform: translateX(200px);
      -moz-transform: translateX(200px);
      -ms-transform: translateX(200px);
      -o-transform: translateX(200px);
    }

    to {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
